.navbar, .interface{
  padding: 20px 200px;
}
.nav-link{
  color: #4A647F;
  font-size: 18px;
}

.nav-link:hover{
  color: white;
  background-color: #4A647F;
  font-size: 18px;
}

.title{
  color:#4A647F;
  font-weight: 700;
  margin-top: 50px;
}
.pubTitre{
  background-color: #D4DAE6;
  color: #4A647F;
  font-size: 25px;
  font-weight: 400;
  text-align: right;
  padding: 10px;
  margin-top: 15px;
  width: 450px;
  border-radius: 0 10px 10px 0;
}
.pubParagraphe{
  color: #293D4E;
  font-size: 15px;
  width: 455px;
  margin-top: 15px;
}
.btn{
  background-color: #4A647F;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;

}
.btn:hover{
  background-color: #537E9F;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
.signUp{
  text-decoration: none;
  border:1px #293D4E solid;
  border-radius: 8px;

}
.signUp:hover{
  text-decoration: none;
  background-color:#293D4E ;
  border:1px #293D4E solid;
  border-radius: 10px;
  color: white;
}