* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  background-color: #00AAFF;
  color: white;
}
.navbar-links {
  /* height: 100%; */
  font-family: 'PT Sans', sans-serif;
}

.navbar-links ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a{
  display: block;
  text-decoration: none;
  color: white;
  /* padding-right: 20px; */
  margin-right: 25px;
}

.brand-title{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.logoName{
  color: #FFF;
  font-size: 20px;
  padding-left: 5px;
}
.logoImg{
  width: 30px;
  height: 30px;
}

.nav-link{
  color: #fff;
  font-size: 15px;
  text-align: center;

  font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-link:hover{
  color: #0773A9;
  font-size: 15px;
}
.fa{
  color: #0773A9;
  width: 5px;
  margin-right: 8px;
  text-align: center;
}

.login{
  color: #0773A9;
}
.fa:hover, .login:hover {
  color: #011f38;
}

.signUp{
  text-decoration: none;
  padding: 5px;
  text-align: center;
  border:1px #FF5500 solid;
  border-radius: 8px;
}
.signUp:hover{
  text-decoration: none;
  background-color:#FF5500 ;
  border:1px #FF5500 solid;
  border-radius: 10px;
  color: white;
}

.nvAnnonce{
  text-decoration: none;
  background-color: #FFF;
  border-radius: 20px;
  color: #FF5500;
  font-size: 10px;
  /* font-weight: bold; */
  font-family: Arial, Helvetica, sans-serif;
  padding: 4px;
  cursor: pointer;
}
.nvAnnonce:hover{
  text-decoration: none;
  background-color: #FF5500;
  border-radius: 20px;
  color: #FFF;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}


.toggle-button {
  position: absolute;
  top: 1.20rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}







/* --------- Style Body ---------------- */

.header-section{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
  width: 100%;
  height:  35vh;
  background-size:cover;
  background-repeat:no-repeat ;
  background-image:  url("../img/background/back4.jpg");
}

.publiciter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pubTitre{
  color: #ffffff;
  background-color: #007bff;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
  padding: 4px;
  border-radius: 5px;
}
.pubParagraphe{
  color: #fff;
  font-size: 13px;
}
.filterRecherche{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  /* width: 60%; */
  height: auto;
  padding: 4px;
  font-size: 10px;
  background-color: #FFF;
  border-radius: 20px;
}
.hr{
  height: 100%;
  border-right: 1px solid rgb(160, 160, 160);
}
.btnInput {
  display: none;
}
.btn-label {
  display: inline-block;
  background-color: #e9ecef;
  color: #000;
  padding: 0px 8px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #d2f0fc;
  background-color: #E6F8FF;
}
.btn-label:hover {
  display: inline-block;
  background-color: #e9ecef;
  color: #000;
  padding: 0px 8px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  background-color: #def1f9;
}

.btnInput:checked + .btn-label {
  background-color: #0084BC;
  color: #fff;
  border-color: #007bff;
}
.zone2{
  margin-left: 5px;
}
.zone2 select {
  width: 130px;
  padding: 3px;
  border: 1px solid #cfcfcf;
  background-color: #F2F2F2;
  border-radius: 15px;
  color: #00BEDC;
}

.zone3{
  margin-left: 5px;
}
.zone3 input[type="text"] {
  border-radius: 15px;
  border:none;
  background-color: #F2F2F2;
  color: #00BEDC;

}
.zone3 input[type="text"]:focus {
  outline: none;
  border:none;
  
}
.btnRech{
  text-decoration: none;
  background-color: #FFF;
  border-radius: 20px;
  color: #FF5500;
  border: none;
  font-size: 13px;
  cursor: pointer;  
}
.btnRech:hover{
  text-decoration: none;
  background-color: #FF5500;
  border-radius: 20px;
  color: #FFF;
  font-size: 13px;
}

.circle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #F06000;
  color: white;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  top: 168px;
}


















































/* STart media*/
@media (max-width: 600px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  /* Now the hamburgur menu will be visible */
  .toggle-button {
      display: flex;
  }

  /* Now the links will disapper and */
  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}

@media (max-width: 725px) {
  .nvAnnonce{
    display: none;
  }

}
@media (max-width: 634px) {
  .btnRech{
    display: none;
  }

}
@media (max-width: 562px) {
  .header-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height:  25vh;
    background-size:cover;
    background-repeat:no-repeat ;
    background-image:  url("../img/background/back2.jpg");
  }
  .pubTitre{
    text-align: center;
  }
  .pubParagraphe{
    display: none;
  }
  .filterRecherche{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: auto;
    font-size: 10px;
    background-color: transparent;
  }

  .btnInput {
    display: none;
  }
  .btn-label {
    display: inline-block;
    margin: 0 0px 5px 5px;
    color: #FFF;
    padding: 0px 8px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #104A7A;
    background-color: #104A7A;
  }
  .btn-label:hover {
    display: inline-block;
    color: #FFF;
    margin: 0 0px 5px 5px;
    padding: 0px 8px;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    background-color: #104A7A;
  }
  
  .btnInput:checked + .btn-label {
    color: #fff;
    background-color: #3692f5;
    border-color: #3692f5;
  }
  .zone2{
    width: inherit;
  }
  .zone2 select {
    width: 220px;
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 8px;
    border: 1px solid #cfcfcf;
    background-color: #F2F2F2;
    border-radius: 17px;
    color: #00BEDC;
  }
  
  .zone3 input[type="text"] {
    margin-right: 5px;
    width: 210px;
    padding: 6px;
    border-radius: 15px;
    border:none;
    background-color: #F2F2F2;
    color: #00BEDC;
  
  }
  .zone3 input[type="text"]:focus {
    outline: none;
    border:none;
    
  }
  

}


/*------------------------- FIN QUERY  ---------------------*/